<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
      			<li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="#section-about">About</a></li>
            <li><a href="#section-work">Work</a></li>
            <li><a href="#section-contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
	</div class="row">
		<div class="copyright">
			<p>Copyright © 2016 Daeda Group LLC.<br />All Rights Reserved</p>
		</div>
	</div>
  </div>
</footer>
