<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a class="page-scroll" href="#top">Home</a></li>
            <li><a class="page-scroll" href="#about">About</a></li>
            <li><a class="page-scroll" href="#work">Work</a></li>
            <li><a class="page-scroll" href="#call-to-action">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
	</div class="row">
		<div class="copyright">
			<p>Copyright © 2016 Daeda Group LLC.<br />All Rights Reserved</p>
		</div>
	</div>
  </div>
</footer>
