<!DOCTYPE html>
<html class="no-js">
  <head>
    {% include head.html %}
  </head>
  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N6JZ3T"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include header.html %}
    {{ content }}
    {% include footer.html %}

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/vendor-concat.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/airspace.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/responsive.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />

    <!-- Js -->
    <script src="{{ site.baseurl }}/js/min/lib-scripts-concat.min.js"></script>
    <script src="{{ site.baseurl }}/js/main.js"></script>

  </body>
</html>
